@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-prev:before,
.slick-next:before {
  color: #333;
  font-size: 30px;
}

.slick-prev {
  left: -35px;
  z-index: 1;
}

.slick-next {
  right: -35px;
  z-index: 1;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #e11d48;
}

.slick-dots li.slick-active button:before {
  color: #e11d48;
}